<%= form_for(@definition) do |f| %>
  <% if @definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@definition.errors.count, "error") %> prohibited this definition from being saved:</h2>

      <ul>
      <% @definition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.text_field :title, required: true %>
    <%= f.label "Título *" %>
  </div>
  <div class="input-field">
    <%= f.text_area :content, class: "materialize-textarea", required: true %>
    <%= f.label "Contenido *" %>
  </div>
  <div class="input-field">
    <%= f.text_field :source %>
    <%= f.label :Fuente %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
