<%= form_for(@legal) do |f| %>
  <% if @legal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@legal.errors.count, "error") %> prohibited this legal from being saved:</h2>

      <ul>
      <% @legal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.text_field :title, required: true %>
    <%= f.label "Título *" %>
  </div>
  <div class="input-field">
    <%= f.label "Contenido *" %>
    <br>
    <br>
    <!--input id="x" type="hidden" name="content" required="true"-->
    <%= f.text_field :content, required: true, id: 'x', class: 'hidden' %>
    <trix-editor input="x"></trix-editor>
    <%#= f.text_area :content, class: "materialize-textarea", required: true, id: 'froala-editor' %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
