<%= form_for(@header) do |f| %>
  <% if @header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@header.errors.count, "error") %> prohibited this header from being saved:</h2>

      <ul>
      <% @header.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.text_field :section, required: true, disabled: true %>
    <%= f.label :Sección %>
  </div>
  <div class="input-field">
    <%= f.text_area :content, class: "materialize-textarea", required: true %>
    <%= f.label "Contenido *" %>
  </div>
  <div class="input-field">
    <%= f.text_area :quote, class: 'materialize-textarea' %>
    <%= f.label :cita %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
